// Colours
$white: #FFF;
$black: #000;

$grey-1: #FAFAFA;
$grey-2: #807A7A;
$grey-3: #ECEDF2;
$grey-4: #2A201F;
$grey-5: #C0BCBC;

$red-1: #FA4D73;

$orange-1: #FA9968;

// Base
$base-font-family: 'Raleway', sans-serif;
$base-bg-color: $grey-3;
$base-color: $grey-4;
